<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>OA系统</title>
    <!-- begin::global styles -->
    <link rel="stylesheet" th:href="@{vendors/bundle.css}" type="text/css">
    <!-- begin::custom styles -->

    <!-- begin::global styles -->
    <link rel="stylesheet" th:href="@{vendors/bundle.css}" type="text/css">
    <!-- end::global styles -->


    <!-- begin::datepicker -->
    <link rel="stylesheet" th:href="@{vendors/datepicker/daterangepicker.css}">
    <!-- end::datepicker -->

    <link rel="stylesheet" th:href="@{css/app.css}" type="text/css" charset="UTF-8">
    <link rel="stylesheet" th:href="@{css/custom.css}" type="text/css">
    <script th:src="@{vendors/jquery/jquery-3.4.1.js}" type="text/javascript"></script>
    <script>
        $(function () {
            $("#hylx").change(function () {
                if($(this).val()!="请选择类型"){
                    $("#yuding").attr('disabled',false);//提交按钮可用
                }else{
                    $("#yuding").attr('disabled',true);//提交按钮禁用
                }

            })
            $("#yudRen").change(function () {
                if($(this).val()!=""&&$(this).val()!=null){
                    $("#yuding").attr('disabled',false);//提交按钮可用
                }else{
                    $("#yuding").attr('disabled',true);//提交按钮禁用
                }

            })
            //异步会议预定
            $("#yuding").click(function () {

                var firstTime=$("#firstTime").val();//获取预定时间
                var yudRen=$("#yudRen").val();//获取会议室预订人
                var  huiYiLeix=$("#hylx").val();
                if(huiYiLeix=="请选择类型"){
                    alert("请先选择会议室类型！")
                    $("#yuding").attr('disabled',true);//提交按钮禁用
                }else if (yudRen==""||yudRen==null){
                    alert("预订人不能为空")
                    $("#yuding").attr('disabled',true);//提交按钮禁用
                }else{
                    //获取会议室的id
                    var meetId=document.getElementsByName("meetId");
                    for(var i=0;i<meetId.length;i++)
                    {
                        //判断那个单选按钮为选中状态
                        if(meetId[i].checked)
                        {
                            //弹出选中单选按钮的值
                            // alert(radios[i].value);
                            //获取会议室的id
                            $.post("huiyiguanliYD.html","metid="+meetId[i].value+"&firstTime="+firstTime+"&yudRen="+yudRen+"&huiYiLeix="+huiYiLeix,function (data) {
                                alert(data);
                                window.location.reload()
                            },"text")
                        }
                    }
                }


            })
            //会议室添加
            $("#tijiao").click(function () {
                var huiyName=$("#recipient-name").val();//会议室名称
                var huiyiMs=$("#message-text").val();//获取会议室描述
                if((huiyName==null||huiyName=="")||(huiyiMs==null||huiyiMs=="")){
                    alert("内容不能为空！")
                }else{
                    $.post("addHuiyi.html","huiname="+huiyName+"&huims="+huiyiMs,function (date) {
                        alert(date);
                        window.location.reload();
                    },"text")
                }
            })

            //
            $("#yuding").attr('disabled',true);//提交按钮禁用
            $("#qux").attr('disabled',true);
            var page="";
            for(var i=1;i<=$("#pagecount").val();i++){
                page+="<li class='page-item'><a class='page-link' >"+i+"</a></li>";
            }
            $("#erer").after(page)


            $(".raId").click(function () {
                $("#yuding").attr('disabled',false);//提交按钮可用
            })
            //预定会议室点击查询
            $("#ydChaxun").click(function () {
                var  ydTime=$("input[name=ydTime]").val();//获取预定时间
                var ydpeople=$("input[name=ydpeople]").val();//预定人
                var ydHuiyi=$("input[name=ydHuiyi]").val();//会议室名称
                var ydLeixing=$("select[name=ydLeixing]").val();//会议类型
                $.post("ydGuanLi.html","ydTime=" + ydTime + "&ydpeople=" + ydpeople + "&ydHuiyi=" + ydHuiyi+"&ydLeixing="+ydLeixing,function (date) {
                    if(date.length<1){
                        alert("没有查到数据！")
                        window.location.reload();
                    }else{
                        alert("查询到"+date.length+"条数据")
                        $("#tr1").siblings().remove();
                        var str='';
                        $.each(date, function (x, res) {
                            str+= "<tr >" +
                                "<td><input type='radio' name='reserveId' onclick='reser()'  value="+(res.id)+"></td>"+
                                "<td>"+(res.meeting.mName)+"</td>" +
                                "<td >"+(res.startdate)+"</td>" +
                                "<td >"+(res.enddate)+"</td>" +
                                "<td >"+(res.rContent)+"</td>" +
                                "<td>"+(res.users.realName)+"</td>" +
                                "<td>"+(res.users.realName)+"</td>" +
                                "<td>"+(res.recordtime)+"</td>" +
                                "</tr>";
                        });
                        $("#tr1").after(str);
                    }
                },"json")

            });
            //点击取消预定
            $("#qux").click(function () {
                //获取会议室的id
                var meetId=document.getElementsByName("reserveId");
                for(var i=0;i<meetId.length;i++)
                {
                    //判断那个单选按钮为选中状态
                    if(meetId[i].checked)
                    {
                        //弹出选中单选按钮的值
                        // alert(radios[i].value);
                        //获取会议室的id
                        $.post("ydQuXiao.html","reserveId="+meetId[i].value,function (data) {
                            alert(data);
                            window.location.reload()
                        },"text")
                    }
                }


            })
        })
        function reser() {
            $("#qux").attr('disabled',false);
        }
        function xiugai(id) {
            $.post("xiugaiHy.html", "id=" +id, function (data) {
                $("#div1").html(" ");
                var str = "<tr ><th>会议室名称<input type=\'text\' value=\'" + (data.mName) + "\' name='mName' placeholder='请输入要修改的内容' class=\"form-control\"  required='required'></th></tr>" +
                    "<tr><th><input type=\'hidden\' value=\'" + (data.id) + "\' name='id'></th></tr>" +
                    "<tr ><th >会议室描述<input type=\'text\' value=\'" + (data.mdescribe) + "\' placeholder='请输入要修改的内容' name='mdescribe' class=\"form-control\" id=\"vmodel\" required='required'></th></tr>"+
                    "<tr ><th >是否空闲,1、空闲，2、不空闲<span  placeholder='请输入要修改的内容' name='leisure'  id=\"vnumber\" class=\"form-control\">" + (data.leisure) + "</span></th></tr>" +
                    "<tr ><th >创建时间<span   name='createdtime' placeholder='请输入要修改的内容' class=\"form-control\" id=\"recipient-name\">"+ (data.createdtime.toString())+"</span></th></tr>";
                $("#div1").append(str);
            }, "json")
        }
        function delt(id) {
            if(confirm("确定删除吗？")) {
                $.post("deltHuiYi.html", "metid=" + id, function (data) {
                    alert(data);
                    window.location.reload();
                }, "text")
            }

        }
        //上一页
        function shangyiye() {
            var pagecount=$("#pagecount").val();
            var index=parseInt($("#pageindex").val())
            if(index==1){
                alert("已经是第一页了！")
            }else{
                $.post("fenyeMet.html", {'index':index-1},function (date) {
                    var tdStr ='';
                    $("#th1").siblings().remove()
                    $("#pageindex").val(date["index"])
                    $.each(date["meetingList"], function (met,value) {
                        tdStr += "<tr >" +
                            "<td>" + (value.mName) + "</td>" +
                            "<td >" + (value.mdescribe) + "</td>" +
                            "<td><input  type='button' value='修改' onclick='xiugai("+(value.id)+")'  class='change' data-toggle='modal'" +
                            "  data-target=\"#exampleModal2\" >&nbsp;&nbsp;&nbsp;" +
                            "<input  type=\"button\" class=\"del\" value=\"删除\" onclick='delt(" + value.id + ")'></td></tr>";
                    })
                    $("#tab1").append(tdStr);
                },"json")
            }

        }
        //下一页
        function xiayiye() {
            var pagecount=$("#pagecount").val();
            var index=parseInt($("#pageindex").val())
            if(index==pagecount){
                alert("已经是最后一页了！")
            }else{
                $.post("fenyeMet.html",{'index':index+1},function (date) {
                    var tdStr ='';
                    $("#th1").siblings().remove()
                    $("#pageindex").val(date["index"]);
                    $.each(date["meetingList"], function (met,value) {
                        tdStr += "<tr >" +
                            "<td>" + (value.mName) + "</td>" +
                            "<td >" + (value.mdescribe) + "</td>" +
                            "<td><input  type='button' value='修改' onclick='xiugai("+(value.id)+")'  class='change' data-toggle='modal'" +
                            "  data-target=\"#exampleModal2\" >&nbsp;&nbsp;&nbsp;" +
                            "<input  type=\"button\" class=\"del\" value=\"删除\" onclick='delt(" + value.id + ")'></td></tr>";
                    })
                    $("#tab1").append(tdStr);

                },"json")
            }

        }

    </script>



</head>
<body>
<div class="card">
    <div class="card-body">

        <ul class="nav nav-pills flex-column flex-sm-row" id="myTab" role="tablist">
            <li class="flex-sm-fill text-sm-center nav-item">
                <a class="nav-link active" id="hometimeline-tab" data-toggle="tab" href="#timeline" role="tab" aria-controls="home" aria-selected="true">会议室预定</a>
            </li>
            <li  th:if="${user}==4" class="flex-sm-fill text-sm-center nav-item">
                <a class="nav-link" id="photos-tab" data-toggle="tab" href="#photos" role="tab" aria-controls="profile" aria-selected="false">会议室预定管理</a>
            </li>
            <li  th:if="${user}!=5" class="flex-sm-fill text-sm-center nav-item">
                <a class="nav-link" id="followers-tab1" data-toggle="tab" href="#followers" role="tab" aria-controls="followers" aria-selected="false">
                    会议室管理
                </a>
            </li>

        </ul>

        <div class="tab-content p-t-30" id="myTabContent">

            <div class="tab-pane fade show active" id="timeline" role="tabpanel" aria-labelledby="timeline-tab">
                <div class="timeline">

                    <form action="huiyicx.html" method="post">
                        <div class="form-group">
                            <label for="exampleFormControlInput1">预定时间段：</label>
                            <input type="date" placeholder="开始时间" id="firstTime" name="firstTime" th:value="${firstTime}" required="required"> 提示：预定时间段必须为同一天&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <input type="submit" name="" id="select" value="查询">
                        </div>
                    </form>
                    <div class="form-group">
                        <div class="card">
                            <div class="card-header d-flex align-items-center justify-content-between">可预订会议室查询结果：

                            </div>
                            <!--<form action="huiyiguanliYD.html" method="post">-->
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table table-borderless" id="table1">
                                        <tr id="">
                                            <th>选择</th>
                                            <th>会议室名称</th>
                                            <th>会议室描述</th>
                                        </tr>
                                        <tr th:each="me:${meetingList}">
                                            <td ><input type="radio" name="meetId" th:value="${me.id}" class="raId"></td>
                                            <td th:text="${me.mName}" >名称</td>
                                            <td th:text="${me.mdescribe}">名称 </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="form-group">
                        会议室预订人：<input type="text" name="reserveby" placeholder="请输入" required="required" id="yudRen"/>
                        &nbsp;&nbsp;&nbsp;&nbsp;
                        会议类型：
                        &nbsp;&nbsp;&nbsp;&nbsp;
                        <select name="rContent" id="hylx" required="required">
                            <option selected="">请选择类型</option>
                            <option>会议</option>
                            <option>培训</option>
                            <option>面试</option>
                            <option>会客</option>
                            <option>其他</option>
                        </select>
                        &nbsp;&nbsp;&nbsp;&nbsp;
                        <input type="button" class="btn btn-primary" id="yuding" value="预定"/>

                    </div>
                    <!--</form>-->

                </div>
            </div>
            <div class="tab-pane fade" id="photos" role="tabpanel" aria-labelledby="photos-tab">
                <div class="tab-pane fade show active" id="timeline" role="tabpanel" aria-labelledby="timeline-tab">
                    <div class="timeline">


                        <div class="form-group">
                            <label for="exampleFormControlInput1">预定时间段：</label>
                            <input type="date" placeholder="开始时间" name="ydTime" required="required">&nbsp; 提示：预定时间段必须为同一天&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

                        </div>
                        <div class="form-group">

                            会议室预订人：<input type="text" name="ydpeople" placeholder="请输入" required="required"/>
                            会议室名称：<input type="text" name="ydHuiyi" placeholder="请输入" />
                            &nbsp;&nbsp;&nbsp;&nbsp;
                            会议类型：
                            &nbsp;&nbsp;&nbsp;&nbsp;
                            <select name="ydLeixing" >
                                <option selected="" >请选择类型</option>
                                <option>会议</option>
                                <option>培训</option>
                                <option>面试</option>
                                <option>会客</option>
                                <option>其他</option>
                            </select>
                            &nbsp;&nbsp;&nbsp;&nbsp;
                            <input type="button" class="btn btn-primary" value="查询" id="ydChaxun"/>
                        </div>

                        <div class="form-group">
                            <div class="card">
                                <div class="card-header d-flex align-items-center justify-content-between">查询结果：
                                </div>
                               <!-- <form action="ydQuXiao.html" method="post">-->
                                    <div class="card-body">
                                        <div class="table-responsive">
                                            <table class="table table-borderless" id="tab">
                                                <tr id="tr1">
                                                    <th>选择</th>
                                                    <th>会议室名称</th>
                                                    <th>会议室起始时间</th>
                                                    <th>会议室结束时间</th>
                                                    <th>会议室用途</th>
                                                    <th>记录人</th>
                                                    <th>预订人</th>
                                                    <th>预订时间</th>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                            </div>
                        </div>
                        <input type="hidden" id="reId">
                        <button type="button" class="btn btn-primary" id="qux">取消预定</button>
                       <!-- </form>-->
                    </div>
                </div>

            </div>

            <div class="tab-pane fade" id="followers" role="tabpanel" aria-labelledby="followers-tab">
                <div class="tab-pane fade show active" id="timeline" role="tabpanel" aria-labelledby="timeline-tab">
                    <div class="timeline">


                        <div class="form-group">
                            <div class="card">
                                <div class="card-header d-flex align-items-center justify-content-between">添加会议室：
                                    <!--添加信息-->
                                    <div class="card-body">
                                        <div class="text-center">
                                            <button type="button" class="btn btn-primary" data-toggle="modal"
                                                    data-target="#exampleModal" data-whatever="添加" id="tianJa">添加
                                            </button>
                                        </div>
                                        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
                                             aria-labelledby="exampleModalLabel" aria-hidden="true">
                                            <div class="modal-dialog" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" >会议室</h5>
                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                        </button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <!--<form action="/addHuiyi.html" method="post">-->
                                                        <div class="form-group">
                                                            <div id="div2" style="display: none">
                                                                <label for="recipient-name" class="col-form-label">（修改会议室选择：）</label>
                                                                <br/>

                                                            </div>
                                                            <label for="recipient-name" class="col-form-label">会议室名称:</label>
                                                            <input type="text" class="form-control" id="recipient-name" name="meetingName" required="required">
                                                            <!-- <input type="hidden" name="" th:value="${}">-->
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="message-text" class="col-form-label">会议室描述:</label>
                                                            <textarea class="form-control" id="message-text" name="meetingMdescribe" required="required"></textarea>
                                                        </div>

                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭
                                                        </button>
                                                        <button type="button" class="btn btn-primary" id="tijiao">提交</button>
                                                        <!--</form>-->
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!--修改=================;-->
                                        <div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog"
                                             aria-labelledby="exampleModalLabel"
                                             aria-hidden="true">
                                            <div class="modal-dialog" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5>车辆修改</h5>
                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                        </button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <form action="changeMet.html" method="post">
                                                            <div class="form-group" id="div1">
                                                                <!--会议室修改-->

                                                            </div>

                                                            <div class="modal-footer">
                                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭
                                                                </button>
                                                                <button type="submit" class="btn btn-primary">提交</button>

                                                            </div>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!--添加信息-->
                                </div>
                                <form action="" method="post">

                                    <div class="card-body">
                                        <div class="table-responsive">
                                            <table class="table table-borderless" id="tab1">
                                                <tr id="th1" >
                                                    <th>会议室名称</th>
                                                    <th>会议室描述</th>
                                                    <th>操作</th>
                                                </tr>
                                                <tr th:each="met:${meetList}">
                                                    <td th:text="${met.mName}"></td>
                                                    <td th:text="${met.mdescribe}"></td>
                                                    <td ><input type="button" value="修改" th:onclick="'javascript:xiugai('+${met.id}+')'" class="change" data-toggle="modal"
                                                                data-target="#exampleModal2">
                                                        <input type="button" class="del" value="删除" th:onclick="'javascript:delt('+${met.id}+')'">
                                                    </td>
                                                </tr>
                                            </table>
                                            <nav aria-label="Page navigation example">
                                                <ul class="pagination justify-content-end">
                                                    <li class="page-item" id="erer">
                                                        <a class="page-link" href="javascript:;"
                                                           onclick="shangyiye()">上一页</a>
                                                        <input type="hidden" id="pagecount" th:value="${pageSupport.getTotalPageCount()}">
                                                        <input type="hidden" id="pageindex" value="1" >
                                                    </li>
                                                    <div id="div3"></div>
                                                    <li class="page-item">
                                                        <a class="page-link" href="javascript:;" onclick="xiayiye()">下一页</a>
                                                        共<span th:text="${pageSupport.getTotalPageCount()}"></span>页，<span th:text="${pageSupport.getTotalCount()}"></span>条数据
                                                    </li>
                                                </ul>
                                            </nav>
                                        </div>
                                    </div>
                            </div>
                        </div>

                        </form>

                    </div>
                </div>

            </div>

        </div>

    </div>
</div>
<!-- end::main content -->

<!-- begin::global scripts -->
<script th:src="@{vendors/bundle.js}"></script>
<!-- end::global scripts -->

<!-- begin::custom scripts -->
<script th:src="@{assets/js/custom.js}"></script>
<script th:src="@{assets/js/app.js}"></script>
<!-- end::custom scripts -->

<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>OA系统</title>
    <!-- begin::global styles -->
    <link rel="stylesheet" th:href="@{vendors/bundle.css}" type="text/css">
    <!-- begin::custom styles -->


    <!-- begin::global styles -->
    <link rel="stylesheet" th:href="@{vendors/bundle.css}" type="text/css">
    <!-- end::global styles -->


    <!-- begin::datepicker -->
    <link rel="stylesheet" th:href="@{vendors/datepicker/daterangepicker.css}">
    <!-- end::datepicker -->

    <link rel="stylesheet" th:href="@{css/app.css}" type="text/css" charset="UTF-8">
    <link rel="stylesheet" th:href="@{css/custom.css}" type="text/css">
    <script th:src="@{vendors/jquery/jquery-3.4.1.js}" type="text/javascript">

    </script>


</head>
<body>