<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>登录</title>

    <!-- begin::global styles -->
    <link rel="stylesheet" th:href="@{/vendors/bundle.css}" type="text/css">
    <!-- end::global styles -->

    <!-- begin::custom styles -->
    <link rel="stylesheet" th:href="@{/css/app.css}" type="text/css">
    <!-- end::custom styles -->

</head>
<body class="bg-white h-100-vh p-t-0">

<!-- begin::page loader-->
<div class="page-loader">
    <div class="spinner-border"></div>
    <span>Loading ...</span>
</div>
<!-- end::page loader -->

<div class="p-b-50 d-block d-lg-none"></div>

<div class="container h-100-vh">
    <div class="row align-items-md-center h-100-vh">
        <div class="col-lg-6 d-none d-lg-block">
            <img class="img-fluid" th:src="@{/media/svg/login.svg}" alt="...">
        </div>
        <div class="col-lg-4 offset-lg-1">
            <div class="d-flex align-items-center m-b-20">
                <img th:src="@{/media/image/dark-logo.png}" class="m-r-15" width="40" alt="">
                <h3 class="m-0">登录</h3>
            </div>
            <p>&nbsp;</p>
            <form action="login.html" method="post">
                <div class="form-group mb-4">
                    <input type="text" name="uName" class="form-control form-control-lg" id="exampleInputEmail1" autofocus
                           placeholder="用户名或者邮箱" value="ZS">
                    <span style="color: red" th:text="${error}"></span>
                </div>
                <div class="form-group mb-4">
                    <input type="password" name="password" class="form-control form-control-lg" id="exampleInputPassword1"
                           placeholder="密码" value="123456">
                    <span style="color: red" th:text="${error1}"></span>
                </div>
                <button class="btn btn-primary btn-lg btn-block btn-uppercase mb-4">登录</button>
                <div class="d-flex justify-content-between align-items-center mb-4">
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="customCheck">
                        <label class="custom-control-label" for="customCheck">记住密码</label>
                    </div>
                    <a href="#" class="auth-link text-black">忘记密码?</a>
                </div>
                <div class="row">
                    <div class="col-md-6 mb-4">
                        <a href="" class="btn btn-outline-facebook btn-block">
                            <i class="fa fa-facebook-square m-r-5"></i> Facebook 账号
                        </a>
                    </div>
                    <div class="col-md-6 mb-4">
                        <a href="" class="btn btn-outline-google btn-block">
                            <i class="fa fa-google m-r-5"></i> Google 账号
                        </a>
                    </div>
                </div>
                <div class="text-center">
                    没有账户? <a href="register.html" class="text-primary">注册</a>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- begin::global scripts -->
<script th:src="@{/vendors/bundle.js}"></script>
<!-- end::global scripts -->

<!-- begin::custom scripts -->
<script th:src="@{/js/app.js}"></script>
<!-- end::custom scripts -->

</body>
</html>