<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>OA系统</title>
    <!-- begin::global styles -->
    <link rel="stylesheet" th:href="@{/vendors/bundle.css}" type="text/css">
    <!-- begin::custom styles -->


    <!-- begin::global styles -->
    <link rel="stylesheet" th:href="@{/vendors/bundle.css}" type="text/css">
    <!-- end::global styles -->


    <!-- begin::datepicker -->
    <link rel="stylesheet" th:href="@{/vendors/datepicker/daterangepicker.css}">
    <!-- end::datepicker -->

    <link rel="stylesheet" th:href="@{/css/app.css}" type="text/css" charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/custom.css}" type="text/css">
    <script th:src="@{/vendors/jquery/jquery-3.4.1.js}" type="text/javascript"></script>

    <script>
        $(function () {
            $("#qingjiaostartdate").blur(function () {
                if (new Date() > new Date($("#qingjiaostartdate").val()) &&
                    ((new Date()-new Date($("#qingjiaostartdate").val()))/1000/3600)>24){
                    alert("开始时间不得小于现在时间！")
                }
            })
            $("#qingjiaoenddate").blur(function () {
                if($("#qingjiaostartdate").val()>$("#qingjiaoenddate").val()){
                    alert("结束时间不得小于开始时间！");
                    return false;
                }else {
                    var date = ((new Date($("#qingjiaoenddate").val())-new Date($("#qingjiaostartdate").val()))/1000/3600/24)+1;
                    $("#qingjiaoleaveday").val(date);
                }
            })

            $("#chuchaistartdate").blur(function () {
                if (new Date() > new Date($("#chuchaistartdate").val()) &&
                    ((new Date()-new Date($("#chuchaistartdate").val()))/1000/3600)>24){
                    alert("出差日期不得小于当前日期！")
                }
            })
            $("#chuchaienddate").blur(function () {
                if($("#chuchaistartdate").val()>$("#chuchaienddate").val()){
                    alert("结束日期不得小于出差日期！")
                    return false;
                }
            })

            $("#chuchaimoney").blur(function () {
                var str =/^[1-9]\d*\.\d*|0\.\d*[1-9]\d*$/;
                if(str.test($("#chuchaimoney").val())){
                    return;
                }else {
                    alert("借款金额格式不正确！")
                }
            })

            $("#followers-tab1").click(function () {
                var shijian = new Date()
                var yuefen = new Date().getMonth()+1;
                $("#applydate").val(shijian.getFullYear()+"年"+yuefen+"月"+shijian.getDate()+"日");
            })

            $("#qingjiatijiao").click(function () {
                var a = $("#qingjiaostartdate").val();
                var b = $("#qingjiaoenddate").val();
                var c = $("#qingjiaodestination").val();
                if (!a || !b || !c){
                    alert("不得为空！")
                    return false;
                }else{
                    $.ajax({
                        type:'post',
                        url:"leave.html",
                        data:$("#qingjiabiaodan").serialize(),
                        dataType:"text",
                        success:function (data) {
                            alert(data)
                        }
                    })
                }

            })
            $("#chuchaitijiao").click(function () {
                var d = $("#chuchaistartdate").val();
                var e = $("#chuchaienddate").val();
                var f = $("#chuchaidestination");
                var g = $("#chuchaiincident").val();
                var h = $("#chuchaietask").val();
                var i = $("#chuchaimoney").val();
                if (!d || !e || !f || !g || !h || !i){
                    alert("不得为空！")
                    return false;
                }else {
                    $.ajax({
                        type:'post',
                        url:"evection/evection.html",
                        data:$("#chuchaibiaodan").serialize(),
                        dataType:"text",
                        success:function (data) {
                            alert(data)
                        }
                    })
                }

            })
            $("#shourutijiao").click(function () {
                var j = $("#applyment").val();
                if (!j){
                    alert("不得为空！")
                    return false;
                }else {
                    $.ajax({
                        type:'post',
                        url:"income/income.html",
                        data:$("#shourubiaodan").serialize(),
                        dataType:"text",
                        success:function (data) {
                            alert(data)
                        }
                    })
                }
            })
        })
    </script>
</head>
<body>

<div class="card">
    <div class="card-body">

        <ul class="nav nav-pills flex-column flex-sm-row" id="myTab" role="tablist">
            <li class="flex-sm-fill text-sm-center nav-item">
                <a class="nav-link active" id="hometimeline-tab" data-toggle="tab" href="#timelinea" role="tab"
                   aria-controls="home"
                   aria-selected="true">请假申请</a>
            </li>
            <li class="flex-sm-fill text-sm-center nav-item">
                <a class="nav-link" id="photos-tab" data-toggle="tab" href="#photos" role="tab" aria-controls="profile"
                   aria-selected="false">出差申请</a>
            </li>
            <li class="flex-sm-fill text-sm-center nav-item">
                <a class="nav-link" id="followers-tab1" data-toggle="tab" href="#followers" role="tab"
                   aria-controls="followers"
                   aria-selected="false">
                    收入证明流程
                </a>
            </li>
        </ul>

        <div class="tab-content p-t-30" id="myTabContent">

            <div class="tab-pane fade show active" id="timelinea" role="tabpanel" aria-labelledby="timeline-tab">
                <div class="timeline">
                    <form id="qingjiabiaodan" >
                        <div class="form-group" style="text-align: center;">
                            姓名：&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" name="qingjiaouserId" th:value="${renshi.realName}" readonly="readonly"/>&nbsp;&nbsp;&nbsp;&nbsp;
                            部门：&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" name="qingjiaodeptId" th:value="${renshi.dept.dName}" readonly="readonly"/><br/><br/>
                            开始时间：<input type="date" id="qingjiaostartdate" name="qingjiaostartdate" value=""/>&nbsp;&nbsp;<span style="color: red">*</span>&nbsp;&nbsp;&nbsp;&nbsp;
                            结束时间：&nbsp;&nbsp;&nbsp;&nbsp;<input type="date" id="qingjiaoenddate" name="qingjiaoenddate" value=""/>&nbsp;&nbsp;<span style="color: red">*</span><br/><br/>
                            请假天数：&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" id="qingjiaoleaveday" name="qingjiaoleaveday" value="" readonly="readonly"/>&nbsp;&nbsp;&nbsp;&nbsp;
                            <span style="vertical-align: middle;">请假类型：</span>&nbsp;&nbsp;&nbsp;&nbsp;<select name="qingjiaoltype">
                            <option value="1">病假</option>
                            <option value="2">事假</option>
                            <option value="3">婚假</option>
                            <option value="4">丧假</option>
                        </select>&nbsp;&nbsp;<span style="color: red">*</span><br/><br/>

                            请假事由： <textarea name="qingjiaodestination" id="qingjiaodestination" rows="3" cols="50"></textarea>&nbsp;&nbsp;<span style="color: red">*</span><br/><br/>
                            <span style="font-size: 10px; color: red;">
                                说明：&nbsp;&nbsp;*&nbsp;&nbsp;  为 必 填 项<br/>
                            </span>
                            <hr/>
                            下一步审批人：<input type="text" name="qingjiaocheckId" placeholder="请选择" th:value="${renshi.shangsi}" readonly="readonly"/> <br/> <br/>
                            <input type="button" id="qingjiatijiao" class="btn btn-primary" value="确定"/>
                            <input type="reset" class="btn btn-primary" value="取消"/>
                        </div>
                    </form>
                </div>
            </div>

            <div class="tab-pane fade" id="photos" role="tabpanel" aria-labelledby="photos-tab">
                <div class="tab-pane fade show active" id="timelines" role="tabpanel" aria-labelledby="timeline-tab">
                    <div class="timeline">

                        <form id="chuchaibiaodan">
                            <div class="form-group" style="text-align: center;">

                                姓名：&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" name="chuchaiuserId" th:value="${renshi.realName}" readonly="readonly"/>&nbsp;&nbsp;&nbsp;&nbsp;
                                部门：&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" name="chuchaideptId" th:value="${renshi.dept.dName}"
                                                                  readonly="readonly"/><br/><br/>
                                出差日期：&nbsp;&nbsp;&nbsp;&nbsp;<input type="date" id="chuchaistartdate" name="chuchaistartdate" value=""/>&nbsp;&nbsp;<span style="color: red">*</span>&nbsp;&nbsp;&nbsp;&nbsp;
                                结束日期：&nbsp;&nbsp;&nbsp;&nbsp;<input type="date" id="chuchaienddate" name="chuchaienddate" value=""/>&nbsp;&nbsp;<span style="color: red">*</span><br/><br/>
                                出差地点：&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" id="chuchaidestination" name="chuchaidestination" value=""/>&nbsp;&nbsp;<span style="color: red">*</span>&nbsp;&nbsp;&nbsp;&nbsp;
                                <span style="vertical-align: middle">出差方式：</span>&nbsp;&nbsp;&nbsp;&nbsp;<select
                                    name="chuchaitraffic">
                                <option value="1">汽车</option>
                                <option value="2">火车</option>
                                <option value="3">飞机</option>
                                <option value="4">轮船</option>
                            </select>&nbsp;&nbsp;<span style="color: red">*</span><br/><br/>

                                出差事由：&nbsp;&nbsp;&nbsp;&nbsp; <textarea name="chuchaiincident" id="chuchaiincident" rows="3" cols="50"></textarea>&nbsp;&nbsp;<span style="color: red">*</span><br/><br/>
                                工作任务：&nbsp;&nbsp;&nbsp;&nbsp; <textarea name="chuchaietask" id="chuchaietask" rows="3" cols="50"></textarea>&nbsp;&nbsp;<span style="color: red">*</span><br/><br/>
                                借款金额：&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" id="chuchaimoney" name="chuchaimoney" value=""/>&nbsp;&nbsp;<span style="color: red">*</span> <br/> <br/>
                                <hr/>
                                下一步审批人：<input type="text" name="chuchaicheckId" placeholder="请选择" th:value="${renshi.shangsi}" readonly="readonly"/>
                                <input type="button" id="chuchaitijiao" class="btn btn-primary" value="确定"/>
                                <input type="reset" class="btn btn-primary" value="取消"/>
                            </div>

                        </form>

                    </div>
                </div>

            </div>


            <div class="tab-pane fade" id="followers" role="tabpanel" aria-labelledby="followers-tab">
                <div class="tab-pane fade show active" id="timeline" role="tabpanel" aria-labelledby="timeline-tab">
                    <div class="timeline">

                        <form id="shourubiaodan">
                            <div class="form-group" style="text-align: center;">

                                姓名：&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" name="userId" th:value="${renshi.realName}"
                                                                  readonly="readonly"/><br/><br/>
                                申请时间：&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" id="applydate" name="applydate" value="" readonly/><br/><br/>

                                部门：&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" name="deptId" th:value="${renshi.dept.dName}"
                                                                  readonly="readonly"/><br/><br/>
                                职位：&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" name="postId" th:value="${renshi.dictionary.valueName}"
                                                                  readonly="readonly"/><br/><br/>

                                申请事由：&nbsp;&nbsp;&nbsp;&nbsp; <textarea name="applyment" id="applyment" rows="3" cols="50"></textarea>&nbsp;&nbsp;<span style="color: red">*</span><br/><br/>
                                <hr/>
                                下一步审批人：<input type="text" name="checkId" th:value="${renshi.shangsi}" placeholder="请选择" readonly="readonly"/>
                                <input type="button" id="shourutijiao" class="btn btn-primary" value="确定"/>
                                <input type="reset" class="btn btn-primary" value="取消"/>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

        </div>

    </div>

</div>
</div>
<!-- begin::datepicker -->
<script th:src="@{/vendors/datepicker/daterangepicker.js}"></script>
<script th:src="@{/js/examples/datepicker.js}"></script>
<!-- end::datepicker -->

<!-- begin::global scripts -->
<script th:src="@{/vendors/bundle.js}"></script>
<!-- end::global scripts -->

<!-- begin::custom scripts -->
<script th:src="@{/js/custom.js}"></script>
<script th:src="@{/js/app.js}"></script>
<!-- end::custom scripts -->


</body>
</html>
