<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>OA系统</title>
    <!-- begin::global styles -->
    <link rel="stylesheet" href="assets/vendors/bundle.css" type="text/css">
    <!-- begin::custom styles -->


    <!-- begin::global styles -->
    <link rel="stylesheet" href="assets/vendors/bundle.css" type="text/css">
    <!-- end::global styles -->


    <!-- begin::datepicker -->
    <link rel="stylesheet" href="assets/vendors/datepicker/daterangepicker.css">
    <!-- end::datepicker -->

    <link rel="stylesheet" href="assets/css/app.css" type="text/css" charset="UTF-8">
    <link rel="stylesheet" href="assets/css/custom.css" type="text/css">
    <script src="assets/vendors/jquery/jquery-3.4.1.js" type="text/javascript"></script>


</head>
<body>
<div class="card">
    <div class="card-body">

        <div class="tab-content p-t-30" id="myTabContent">

            <div class="tab-pane fade show active" id="timeline" role="tabpanel" aria-labelledby="timeline-tab">
                <div class="col-lg-4 offset-lg-1">
                    <form action="">
                        <div class="form-group mb-4">
                            机构名称：<input type="text" class="form-control form-control-lg" id="exampleInputEmail1">
                        </div>
                        <div class="form-group mb-4">
                            机构简称：<input type="text" class="form-control form-control-lg" id="exampleInputPassword1">
                        </div>
                        <div class="form-group mb-4">
                            排序：<input type="text" class="form-control form-control-lg" id="exampleInputPassword1">
                        </div>
                        <div class="form-group mb-4">
                            <button class="btn btn-primary btn-lg btn-block btn-uppercase mb-4">保存</button>
                            <button class="btn btn-primary btn-lg btn-block btn-uppercase mb-4">取消</button>
                        </div>
                    </form>
                </div>
                <!-- begin::datepicker -->
                <script src="assets/vendors/datepicker/daterangepicker.js"></script>
                <script src="assets/js/examples/datepicker.js"></script>
                <!-- end::datepicker -->

                <!-- begin::global scripts -->
                <script src="assets/vendors/bundle.js"></script>
                <!-- end::global scripts -->

                <!-- begin::custom scripts -->
                <script src="assets/js/custom.js"></script>
                <script src="assets/js/app.js"></script>
                <!-- end::custom scripts -->


</body>
</html>
