<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>OA系统</title>
    <link rel="stylesheet" th:href="@{vendors/bundle.css}" type="text/css">
    <link rel="stylesheet" th:href="@{vendors/bundle.css}" type="text/css">
    <link rel="stylesheet" th:href="@{vendors/datepicker/daterangepicker.css}">
    <link rel="stylesheet" th:href="@{css/app.css}" type="text/css">
    <link rel="stylesheet" th:href="@{css/custom.css}" type="text/css">

</head>
<body>


<!-- 开始::内容区域 -->

<div class="card">
    <div class="card-header d-flex align-items-center justify-content-between">文档回收站列表
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-borderless">
                <tr id="trashtitle">
                    <th>名称</th>
                    <th>类型</th>

                    <th>删除时间</th>
                    <th class="text-right">操作</th>
                </tr>


            </table>
        </div>
    </div>

</div>

<script th:src="@{vendors/jquery/jquery-3.4.1.js}" type="text/javascript"></script>
<script th:src="@{js/trash.js}"></script>
<script th:src="@{vendors/datepicker/daterangepicker.js}"></script>
<script th:src="@{js/examples/datepicker.js}"></script>
<script th:src="@{vendors/bundle.js}"></script>
<script th:src="@{js/custom.js}"></script>
<script th:src="@{js/app.js}"></script>
</body>
</html>
