<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>OA系统</title>
    <!-- begin::global styles -->
    <link rel="stylesheet" href="assets/vendors/bundle.css" type="text/css">
    <!-- begin::custom styles -->


    <!-- begin::global styles -->
    <link rel="stylesheet" href="assets/vendors/bundle.css" type="text/css">
    <!-- end::global styles -->


    <!-- begin::datepicker -->
    <link rel="stylesheet" href="assets/vendors/datepicker/daterangepicker.css">
    <!-- end::datepicker -->

    <link rel="stylesheet" href="assets/css/app.css" type="text/css" charset="UTF-8">
    <link rel="stylesheet" href="assets/css/custom.css" type="text/css">
    <script src="assets/vendors/jquery/jquery-3.4.1.js" type="text/javascript"></script>


</head>
<body>
<div class="page-header d-md-flex justify-content-between align-items-center">
    <h4>当前位置</h4>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb m-t-0">
            <li class="breadcrumb-item"><a href="#">用车管理</a></li>

        </ol>
    </nav>
</div>
<div class="card">
    <div class="card-body">

        <ul class="nav nav-pills flex-column flex-sm-row" id="myTab" role="tablist">
            <li class="flex-sm-fill text-sm-center nav-item">
                <a class="nav-link active" id="hometimeline-tab" data-toggle="tab" href="#timeline" role="tab"
                   aria-controls="home"
                   aria-selected="true">用车申请</a>
            </li>
            <li class="flex-sm-fill text-sm-center nav-item">
                <a class="nav-link" id="photos-tab" data-toggle="tab" href="#photos" role="tab" aria-controls="profile"
                   aria-selected="false">车辆信息管理</a>
            </li>


        </ul>

        <div class="tab-content p-t-30" id="myTabContent">

            <div class="tab-pane fade show active" id="timeline" role="tabpanel" aria-labelledby="timeline-tab">
                <div class="timeline">

                    <form action="" method="">
                        <div class="form-group">
                            车辆编号：<input type="text" name="" value=""/><br/><br/>
                            用车人：&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" name="" value=""/>&nbsp;&nbsp;&nbsp;&nbsp;司机：<input
                                type="text"
                                name="" value=""/><br/><br/>
                            随性人员：<input type="text" name="" value=""/>&nbsp;&nbsp;&nbsp;&nbsp;用车部门：<span
                                name="">登录信息获取</span><br/><br/>
                            时间：&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="date" placeholder="开始时间">&nbsp;&nbsp;到&nbsp;&nbsp;<input
                                type="date" placeholder="结束时间"> <br/><br/>
                            目的地：&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" name="" value=""/>&nbsp;&nbsp;&nbsp;&nbsp;申请里程：<input
                                type="text"
                                name="" value=""/><br/><br/>
                            用车事由： <textarea name="" rows="3" cols="50"></textarea>
                        </div>
                        <div class="form-group">
                        </div>
                        <div class="form-group">
                            下一步审批人：<input type="text" name="" placeholder="请选择"/>
                            <br/>
                            <br/>
                            <input type="submit" class="btn btn-primary" value="确定"/>
                            <input type="reset" class="btn btn-primary" value="取消"/>
                        </div>
                    </form>

                </div>
            </div>
            <div class="tab-pane fade" id="photos" role="tabpanel" aria-labelledby="photos-tab">
                <div class="tab-pane fade show active" id="timeline" role="tabpanel" aria-labelledby="timeline-tab">
                    <div class="timeline">

                        <form>
                            <div class="form-group">
                                <div class="card-body">
                                    <div class="table-responsive">
                                        <table class="table table-borderless">
                                            <tr>
                                                <th>车牌号</th>
                                                <th>车型</th>
                                                <th>编号</th>
                                                <th>备注</th>
                                                <th>操作</th>
                                            </tr>
                                            <tr>
                                                <td>
                                                    鲁A
                                                </td>
                                                <td>五菱宏光</td>
                                                <td>001</td>
                                                <td></td>
                                                <td><a href="">修改&nbsp;&nbsp;&nbsp;删除</a></td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    鲁A
                                                </td>
                                                <td>迈巴赫</td>
                                                <td>002</td>
                                                <td></td>
                                                <td><a href="">修改&nbsp;&nbsp;&nbsp;删除</a></td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    鲁A
                                                </td>
                                                <td>劳斯莱斯</td>
                                                <td>003</td>
                                                <td></td>
                                                <td><a href="">修改&nbsp;&nbsp;&nbsp;删除</a></td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>

                            </div>

                        </form>

                        </form>
                    </div>
                </div>

            </div>

            <div class="tab-pane fade" id="followers" role="tabpanel" aria-labelledby="followers-tab">
                <div class="tab-pane fade show active" id="timeline" role="tabpanel" aria-labelledby="timeline-tab">
                    <div class="timeline">

                        <form>
                            <div class="form-group">
                                <div class="card">
                                    <div class="card-header d-flex align-items-center justify-content-between">添加会议室：
                                        <button type="button" class="btn btn-secondary btn-floating">
                                            <i class="ti-plus"></i>
                                    </div>
                                </div>
                            </div>


                    </div>
                </div>

            </div>

        </div>

    </div>
</div>
<!-- begin::datepicker -->
<script src="assets/vendors/datepicker/daterangepicker.js"></script>
<script src="assets/js/examples/datepicker.js"></script>
<!-- end::datepicker -->

<!-- begin::global scripts -->
<script src="assets/vendors/bundle.js"></script>
<!-- end::global scripts -->

<!-- begin::custom scripts -->
<script src="assets/js/custom.js"></script>
<script src="assets/js/app.js"></script>
<!-- end::custom scripts -->


</body>
</html>
