<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>OA系统</title>
    <!-- begin::global styles -->
    <link rel="stylesheet" th:href="@{vendors/bundle.css}" type="text/css">
    <!-- begin::custom styles -->


    <!-- begin::global styles -->
    <link rel="stylesheet" th:href="@{vendors/bundle.css}" type="text/css">
    <!-- end::global styles -->


    <!-- begin::datepicker -->
    <link rel="stylesheet" th:href="@{vendors/datepicker/daterangepicker.css}">
    <!-- end::datepicker -->

    <link rel="stylesheet" th:href="@{css/app.css}" type="text/css" charset="UTF-8">
    <link rel="stylesheet" th:href="@{css/custom.css}" type="text/css">
    <script th:src="@{/vendors/jquery/jquery-3.4.1.js}" type="text/javascript"></script>
    <script>
        $(function () {
            var sel = document.getElementById("shenhe");
            $("#subm").attr('disabled',true);//提交按钮禁用
            /*获取当前页码的值*/
            var  count="";
            for (var i=1;i<=$("#pagecount").val();i++){
                count+="<li class='page-item'><a class='page-link' >"+i+"</a></li>"
            }
            $("#erer").after(count)
            $("#shenhe").change(function () {
                var majer = sel.options[sel.selectedIndex].value;
                if(majer=="请选择"){
                    $("#subm").attr('disabled',true);//提交按钮禁用
                    alert("请选择审核人！")
                }else {
                    $.post("majer.html", "mejName=" + majer, function (data) {
                        $("#checkid").val(data);
                    }, "text")
                    $("#subm").attr('disabled',false);//提交按钮禁用
                }
            });
            //获取单选框
            //修改———————————————修改—————————————修
            /*异步判断要添加的值是否已存在*/
            /*$("#vplat").blur(function () {
                var vpt = $(this).value();
                $.post("vplate.html", "vplate=" + vpt, function (data) {
                    $("#vpt").text(data);
                }, "text")
            });*/

        });

        function xiugai(id) {
            $.post("xiugai.html", "id=" + id, function (data) {
                $("#div1").html(" ");
                var str = "<tr ><th>车牌号<input type=\'text\' value=\'" + (data.vplate) + "\' name='vplate' placeholder='请输入要修改的内容' class=\"form-control\" id='vplat'></th></tr><br/>" +
                    "<tr><th><input type=\'hidden\' value=\'" + (data.id) + "\' name='id'></th></tr>" +
                    "<tr ><th >车型<input type=\'text\' value=\'" + (data.vmodel) + "\' placeholder='请输入要修改的内容' name='vmodel' class=\"form-control\" id=\"vmodel\"></th></tr>" +
                    "<tr ><th >编号<input type=\'text\' value=\'" + (data.vnumber) + "\' placeholder='请输入要修改的内容' name='vnumber' class=\"form-control\" id=\"vnumber\"></th></tr>" +
                    "<tr ><th >备注<input type=\'text\' value=\'" + (data.vcomment) + "\' name='vcomment' placeholder='请输入要修改的内容' class=\"form-control\" id=\"recipient-name\"></th></tr>";
                $("#div1").append(str);
            }, "json")
        }
        function delt(id) {
            if (confirm("确定删除吗？")) {
                $.post("deltCar.html", "vehid=" + id, function (data) {
                    alert(data);
                    window.location.reload();
                }, "text")
            }
        }
        //分页显示
        //var pageSize=$("tr[name='pageSize']").value();
        function xiayiye() {

            var pagecount = $("#pagecount").val()
            var index = parseInt($("#pageindex").val())

            if (index == pagecount) {
                alert("这已经是最后一页了！")
            } else {
                $.get("fenye.html", {'index': index+1} ,function (data) {
                    var tdStr = '';
                    $("#th1").siblings().remove()
                    $("#pageindex").val(data["index"])
                    $.each(data["list"], function (index, value) {
                        tdStr += "<tr >" +
                            "<td>" + (value.vplate) + "</td>" +
                            "<td >" + (value.vmodel) + "</td>" +
                            "<td >" + (value.vnumber) + "</td>" +
                            "<td >" + (value.vcomment) + "</td>" +
                            "<td><input name='change' type='button' value='修改' onclick='xiugai(" + value.id + ")'  class='change' data-toggle='modal'" +
                            "  data-target=\"#exampleModal2\" id=\"xiuagi\">&nbsp;&nbsp;&nbsp;" +
                            "<input  type=\"button\" class=\"del\" value=\"删除\" onclick='delt(" + value.id + ")'></td></tr>";
                    })
                    $("#feny").append(tdStr);
                }, "json")
            }
        };

        function shangyiye() {
            var index = parseInt($("#pageindex").val())
            if (index == 1) {
                alert("这已经是第一页了！")
            } else {
                $.get("fenye.html", {'index':index-1}, function (data) {
                    $("#th1").siblings().remove()
                    var tdStr = '';
                    $("#pageindex").val(data["index"])
                    $.each(data["list"], function (x, value) {
                        tdStr += "<tr >" +
                            "<td>" + (value.vplate) + "</td>" +
                            "<td >" + (value.vmodel) + "</td>" +
                            "<td >" + (value.vnumber) + "</td>" +
                            "<td >" + (value.vcomment) + "</td>" +
                            "<td><input name='change' type='button' value='修改' onclick='xiugai(" + value.id + ")'  class='change' data-toggle='modal'" +
                            "  data-target=\"#exampleModal2\" id=\"xiuagi\">&nbsp;&nbsp;&nbsp;" +
                            "<input  type=\"button\" class=\"del\" value=\"删除\" onclick='delt(" + value.id + ")'></td></tr>";
                    })
                    $("#feny").append(tdStr);
                }, "json")
            }
        }
        function TimeChanges() {
            //判断用车时间是否重复

            //获取车辆信息
            var  carName=$("#cheliang").val();
            //获取开始时间
            var startTime=$("#startTime").val();
            //获取结束时间
            var endTime=$("#endTime").val();
            if(startTime>endTime){
                $("#span1").css("color", "red");
                $("#span1").text("选择的开始日期不能大于结束日期");
                $("#subm").attr('disabled',true);//提交按钮禁用
            }else {
                //异步
                $.post("carTime.html", "carName=" + carName + "&startdate=" + startTime + "&enddate=" + endTime, function (date) {
                    if (date.length > 0) {
                        $("#subm").attr('disabled',true);
                        $("#span1").css("color", "red");
                        $("#span1").text("该车辆在" + startTime + "日至" + endTime + "日期间内已被占用，用更换时间");
                    } else {
                        $("#subm").attr('disabled',false);//提交按钮可用
                        $("#span1").css("color", "green");
                        $("#span1").text("日期以锁定");
                    }

                }, "json")
            }


        }

    </script>


</head>
<body>
<div class="card">
    <div class="card-body">

        <ul class="nav nav-pills flex-column flex-sm-row" id="myTab" role="tablist">
            <li class="flex-sm-fill text-sm-center nav-item">
                <a class="nav-link active" id="hometimeline-tab" data-toggle="tab" href="#timeline" role="tab"
                   aria-controls="home"
                   aria-selected="true">用车申请</a>
            </li>
            <li class="flex-sm-fill text-sm-center nav-item">
                <a class="nav-link" id="photos-tab" data-toggle="tab" href="#photos" role="tab" aria-controls="profile"
                   aria-selected="false">车辆信息管理</a>
            </li>
        </ul>
        <div class="tab-content p-t-30" id="myTabContent">

            <div class="tab-pane fade show active" id="timeline" role="tabpanel" aria-labelledby="timeline-tab">
                <div class="timeline">

                    <form action="disposeCar.html" method="post">
                        <div class="form-group">
                            车辆：<select  name="cheLiang" required="required" id="cheliang">
                            <option>请选择</option>
                            <option th:each="ve:${vmodelList}" th:text="${ve.vmodel}"></option>
                        </select><br/><br/>
                            用车人：&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" name="vpeople" id="car" required="required"/>&nbsp;&nbsp;&nbsp;&nbsp;
                            司机：<input type="text" name="vdriver" required="required"/><br/><br/>
                            随性人员：<input type="text" name="retinue" required="required"/>&nbsp;&nbsp;&nbsp;&nbsp;
                            用车部门：<span th:text="${dname}">登录信息获取</span><br/><br/>
                            时间：<input type="date" placeholder="开始时间" name="startdate" id="startTime" required="required" onchange="TimeChanges()">&nbsp;&nbsp;到&nbsp;&nbsp;
                            <input type="date" placeholder="结束时间" name="enddate" id="endTime" required="required" onchange="TimeChanges()"> <span id="span1" ></span><br/><br/>
                            目的地：&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" name="destination" required="required"/>&nbsp;&nbsp;&nbsp;&nbsp;
                            申请里程：<input type="text" name="mileage" required="required"/><br/><br/>
                            用车事由： <textarea name="reason" rows="3" cols="50" required="required" id="shiyou"></textarea>
                        </div>
                        <div class="form-group">
                            下一步审批人：
                            <select id="shenhe" >
                                <option>请选择</option>
                                <option th:text="${majer}"></option>
                            </select>
                            <input type="hidden" name="checkId" id="checkid"/>
                            <br/>
                            <br/>
                            <input type="submit" class="btn btn-primary" value="确定" id="subm"/>
                            <input type="reset" class="btn btn-primary" value="取消"/>
                        </div>
                    </form>

                </div>
            </div>
            <div class="tab-pane fade" id="photos" role="tabpanel" aria-labelledby="photos-tab">
                <div class="tab-pane fade show active" id="timeline" role="tabpanel" aria-labelledby="timeline-tab">
                    <div class="timeline">
                        <div class="card-body">

                            <div class="text-center">
                                <button type="button" class="btn btn-primary" data-toggle="modal"
                                        data-target="#exampleModal" data-whatever="" id="tianJa">添加
                                </button>

                            </div>
                            <!--添加调用的-->
                            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
                                 aria-labelledby="exampleModalLabel"
                                 aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5>车辆添加</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <form action="guanLiCar.html" method="post">
                                                <div class="form-group">
                                                    <br/>
                                                    <label for="recipient-name" class="col-form-label">车牌号:</label>
                                                    <input type="text" class="form-control" id="recipient-name"
                                                           name="chePai">
                                                </div>
                                                <div class="form-group">
                                                    <label for="message-text" class="col-form-label">车型:</label>
                                                    <textarea class="form-control" id="message-text"
                                                              name="cheXing"></textarea>
                                                </div>

                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭
                                                    </button>
                                                    <button type="submit" class="btn btn-primary">提交</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--修改调用的-->
                            <div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog"
                                 aria-labelledby="exampleModalLabel"
                                 aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5>车辆修改</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <form action="changeVeh.html" method="post">
                                                <div class="form-group" id="div1">
                                                    <!--车辆修改-->

                                                </div>

                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭
                                                    </button>
                                                    <button type="submit" class="btn btn-primary">提交</button>

                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <form>
                            <div class="form-group">
                                <div class="card-body">
                                    <div class="table-responsive">
                                        <table class="table table-borderless" id="feny">
                                            <tr id="th1">
                                                <th>车牌号</th>
                                                <th>车型</th>
                                                <th>编号</th>
                                                <th>备注</th>
                                                <th>操作</th>
                                            </tr>
                                            <tr th:each="veh:${vehicleList}" name="feny">
                                                <td th:text="${veh.vplate}">车牌号</td>
                                                <td th:text="${veh.vmodel}">车型</td>
                                                <td th:text="${veh.vnumber}">编号</td>
                                                <td th:text="${veh.vcomment}">备注</td>
                                                <td><input name="change" type="button" value="修改" class="change"
                                                           data-toggle="modal"
                                                           data-target="#exampleModal2" id="xiuagi"
                                                           th:onclick="'javascript:xiugai('+${veh.id}+')'">&nbsp;&nbsp;&nbsp;
                                                    <input type="button" class="del" value="删除"
                                                           th:onclick="'javascript:delt('+${veh.id}+')'"></td>
                                            </tr>
                                        </table>
                                        <nav aria-label="Page navigation example">
                                            <ul class="pagination justify-content-end">
                                                <li class="page-item" id="erer">
                                                    <a class="page-link" href="javascript:;"
                                                       onclick="shangyiye()">上一页</a>
                                                    <input type="hidden" id="pagecount" th:value="${pageSupport.getTotalPageCount()}">
                                                    <input type="hidden" id="pageindex" value="1" >
                                                </li>
                                                <div id="div2"></div>
                                                <li class="page-item">
                                                    <a class="page-link" href="javascript:;" onclick="xiayiye()">下一页</a>
                                                    共<span th:text="${pageSupport.getTotalCount()}"></span>条数据
                                                </li>
                                            </ul>
                                        </nav>
                                    </div>
                                </div>

                            </div>

                        </form>

                        </form>
                    </div>
                </div>

            </div>


        </div>

    </div>
</div>
<!-- begin::datepicker -->
<script th:src="@{vendors/datepicker/daterangepicker.js}"></script>
<script th:src="@{js/examples/datepicker.js}"></script>
<!-- end::datepicker -->

<!-- begin::global scripts -->
<script th:src="@{vendors/bundle.js}"></script>
<!-- end::global scripts -->

<!-- begin::custom scripts -->
<script th:src="@{js/custom.js}"></script>
<script th:src="@{js/app.js}"></script>
<!-- end::custom scripts -->


</body>
</html>
