<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.bdqn.oaproject.dao.DeptDao">
    <resultMap id="DD" type="Dept">
        <id property="id" column="d.id"></id>
        <result property="deptName" column="dName"></result>
        <association property="users" javaType="Users">
            <id property="deptId" column="u.deptId"></id>
            <result property="realName" column="u1.realName"></result>
        </association>
        <association property="createdbyUsers" javaType="Users">
            <result property="realName" column="u2.realName"></result>
        </association>
        <association property="organization" javaType="Organization">
            <!-- <id property="id" column="o.id"></id>-->
            <result property="organName" column="o.organName"></result>
        </association>
    </resultMap>
    <select id="findAllByName" resultMap="DD" parameterType="String">
        SELECT d.* FROM dept d
        INNER JOIN users u
        ON u.`deptId`=d.`id`
        WHERE u.`realName`=#{realName}
    </select>
    <select id="findDept" resultMap="DD">
        select id,dName from Dept
    </select>
    <select id="findDeptByCreatedId" resultMap="DD" parameterType="Long">
        SELECT d.id,d.dName,d.organId,d.userId,d.telephone,d.phone,d.fax,d.createdby,
	     u1.realName,u2.realName,o.organName,o.id
         FROM Dept d JOIN users u1 ON u1.id=d.userId
         JOIN users u2 ON u2.id=d.createdby
         JOIN `organization` o ON o.id=d.organId
         where d.organId=#{id}
    </select>
    <update id="updateDept" parameterType="Dept">
        update dept set dName=#{deptName},userId=#{userId},telephone=#{telephone},
        phone=#{phone},fax=#{fax},modifyby=#{modifyby},modifytime=#{modifytime} where id=#{id}
    </update>
    <delete id="delDept" parameterType="Integer">
        delete from dept where id=#{id}
    </delete>
    <select id="findDeptById" parameterType="Integer" resultMap="DD">
    SELECT d.id,d.dName,d.organId,d.userId,d.telephone,d.phone,d.fax,d.createdby,
    u1.realName,u2.realName,o.organName,o.id
     FROM Dept d JOIN users u1 ON u1.id=d.userId
     JOIN users u2 ON u2.id=d.createdby
     JOIN `organization` o ON o.id=d.organId
     where d.id=#{id}
    </select>
    <select id="findDeptFuZeUsers" resultType="Integer" parameterType="Integer">
        select userId from Dept where id=#{id}
    </select>
    <select id="findDeptByIDD" resultMap="DD" parameterType="Integer">
         SELECT d.id,d.dName,d.organId,d.userId,d.telephone,d.phone,d.fax,d.createdby,
	     o.organName,o.id
         FROM Dept d
         JOIN `organization` o ON o.id=d.organId
         where d.organId=#{id}
    </select>
</mapper>