<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.bdqn.oaproject.dao.IncomeDao">

    <insert id="add" parameterType="Income">
        INSERT INTO `income`(userId,applydate,deptId,postId,applyment,checkId,createdby,createdtime)
        VALUES (#{userId},#{applydate},#{deptId},#{postId},#{applyment},#{checkId},#{createdby},#{createdtime})
    </insert>

</mapper>