<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.bdqn.oaproject.dao.VehicleapplyDao">
    <insert id="addVehapply" parameterType="Vehicleapply">
        insert into Vehicleapply(vehicleId,vnumber,vpeople,vdriver,retinue,startdate,enddate,destination,mileage,reason,checkId,vdate)
        values
        (#{vehicleId},#{vnumber},#{vpeople},#{vdriver},#{retinue},#{startdate},#{enddate},#{destination},#{mileage},#{reason},#{checkId},#{vdate})
    </insert>
   <!-- /*开始时间                    #结束时间                    #开始时间*/-->
    <select id="findBehByidTime" parameterType="Vehicleapply" resultType="Vehicleapply">

        SELECT * FROM vehicleapply   WHERE
        vehicleId=#{id}
        AND(
        (startdate>=#{startdate} AND  #{enddate}>=enddate)
        OR
        (#{startdate}>=startdate AND enddate>=#{startdate})
        OR
        (#{enddate}>=startdate AND  enddate>=#{enddate}))
    </select>
</mapper>